{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"">
{% endblock %}
{%block content%}
<main class="form-signin w-60 m-auto">
  <form style="max-width: 330px; margin: auto;" action="/signup" method="post">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="text" id="name" name="name" class="form-control" required>
      <label for="name">Name</label>
  </div>        
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
      <label for="floatingPassword">Password</label>
    </div>       
    <button class="btn btn-primary w-60 py-2" type="submit">Sign Up</button>
  </form>
  <p id="errormsg">{{errormsg}}</p>
</main>
<script>
const hideMsg = () => {
  if (errormsg.value == None) {
    errormsgl.style.display = 'none'
  }
}
addEventListener(onload,hideMsg)
</script>
{% endblock %}

